<div class="document-container">
    <div class="document-header">
        <div class="document-header-title">
            <button mat-button color="primary" routerLink="/documents">
                <mat-icon>arrow_back</mat-icon>
                Documentos
            </button>
            <h2>{{documentData.documentName}}</h2>
        </div>
    </div>

    @if (!isFetchingDocument) {
        <app-form-document
            [action]="action"
            [documentData]="documentData"
            [signersData]="signersData"
            (submitForm)="submit($event)"
        ></app-form-document>
    }
</div>